In [1]:
#List
courses = ['Hist','Math','Geo','Gro']
courses

['Hist', 'Math', 'Geo', 'Gro']

In [2]:
print(courses[0])

Hist

In [3]:
print(len(courses))

4

In [4]:
print(courses[-1])

Gro

In [5]:
print(courses[0:2])

['Hist', 'Math']

In [6]:
#Slicing
print(courses[2:])

['Geo', 'Gro']

In [7]:
#Modifying Lists
courses.append('art')

In [10]:
courses

['art', 'Hist', 'Math', 'Geo', 'Gro', 'art']

In [9]:
#Insert Lists
courses.insert(0,'art')

In [13]:
#Extend method ---> use when adding multiple values
courses.extend(('sell','buy'))

In [14]:
courses

['art', 'Hist', 'Math', 'Geo', 'Gro', 'art', 'sell', 'buy']

In [16]:
courses.append(('sta','ls'))

In [17]:
#Remove 
courses.pop()

('sta', 'ls')

In [18]:
courses

['art', 'Hist', 'Math', 'Geo', 'Gro', 'art', 'sell', 'buy', 'sta']

In [20]:
courses.pop(0)

'art'

In [21]:
courses

['Hist', 'Math', 'Geo', 'Gro', 'art', 'sell', 'buy', 'sta']

In [25]:
#Reverse List
courses.reverse()
courses

['sta', 'buy', 'sell', 'art', 'Gro', 'Geo', 'Math', 'Hist']

In [26]:
#Sort List
num = [1,2,3,4,7,6]
num.sort()
num

[1, 2, 3, 4, 6, 7]

In [27]:
num.sort(reverse = True)
num

[7, 6, 4, 3, 2, 1]

In [28]:
#Sorted
sorted(courses)

['Geo', 'Gro', 'Hist', 'Math', 'art', 'buy', 'sell', 'sta']

In [29]:
courses

['sta', 'buy', 'sell', 'art', 'Gro', 'Geo', 'Math', 'Hist']

In [32]:
print(max(num))

7

In [33]:
print(sum(num))

23

In [37]:
print(courses.index('buy'))

1

In [38]:
print('Art' in courses)
print('buy' in courses)

False
True

In [44]:
for item in courses:
    print(item)

sta
buy
sell
art
Gro
Geo
Math
Hist

In [46]:
for index,item in enumerate(courses):
    print(index,item)

0 sta
1 buy
2 sell
3 art
4 Gro
5 Geo
6 Math
7 Hist

In [47]:
#Convert lists to strings
courses_str =  ' '.join(courses)
courses_str

'sta buy sell art Gro Geo Math Hist'

In [49]:
#Convertstrings to list
new_list =  courses_str.split(' ')
new_list

['sta', 'buy', 'sell', 'art', 'Gro', 'Geo', 'Math', 'Hist']

In [52]:
tuple = ('sta', 'buy', 'sell', 'art', 'Gro', 'Geo', 'Math', 'Hist')

In [53]:
#Tuples
#Cant modify a tuple
#Immutable
tuple1 = tuple
print(tuple)
print(tuple1)

('sta', 'buy', 'sell', 'art', 'Gro', 'Geo', 'Math', 'Hist')
('sta', 'buy', 'sell', 'art', 'Gro', 'Geo', 'Math', 'Hist')

In [55]:
tuple1[0] = 'star'
print(tuple)
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Thats because Tuples are immutable

In [59]:
#Sets
#Sets throw away duplicates
sets = {'sta', 'buy', 'sell', 'art', 'Gro', 'Geo', 'Math', 'Hist'}
sets1 = {'sta', 'buy', 'sell', 'art', 'Gro', 'Geo', 'Mse', 'st'}
sets

{'Geo', 'Gro', 'Hist', 'Math', 'art', 'buy', 'sell', 'sta'}

In [58]:
print('Geo' in sets)

True

In [60]:
print(sets.intersection(sets1))

{'buy', 'sell', 'Geo', 'Gro', 'art', 'sta'}

In [61]:
print(sets.difference(sets1))

{'Math', 'Hist'}

In [62]:
print(sets.union(sets1))

{'Math', 'buy', 'Hist', 'sell', 'Geo', 'Gro', 'art', 'st', 'Mse', 'sta'}

In [63]:
#Empty list
empty_list = []

In [64]:
#Empty tuple
empty_tuple = ()

In [66]:
empty_set = set()