In [ ]:
#Create a fibonacci series
for i in range(10):
    if i == 1:
        print(1)

In [1]:
# n = 0
a = 
n = int(input())
def fibonnaci(n):
    for i in range(8):
        if i <= 1:
            print(1)
        else:
            return fibonnaci(n-1)+fibonnaci(n-2)

IndentationError: unexpected indent (2579507116.py, line 4)

In [ ]:
0,1,1,2,3,5,8,13,21

In [ ]:
def shift_letters_with_builtins(s):
    result = []
    for char in s:
        if char.islower():  # Check for lowercase
            shifted = chr((ord(char) - ord('a') + 1) % 26 + ord('a'))
            result.append(shifted)
        elif char.isupper():  # Check for uppercase
            shifted = chr((ord(char) - ord('A') + 1) % 26 + ord('A'))
            result.append(shifted)
        else:
            result.append(char)  # Non-alphabet characters remain unchanged
    return ''.join(result)

In [4]:
def convert(input_string):
    result = []
    for char in input_string:
        if char.isupper():  # If the character is uppercase
            result.append(char.lower())
        elif char.islower():  # If the character is lowercase
            result.append(char.upper())
        else:  # If the character is not a letter
            result.append(char)
    
    # Join the list into a string
    return ''.join(result)

In [5]:
input_string = "Tijo"
output = convert(input_string)
print(output)

tIJO

In [6]:
n = 0
while n<5:
    print(n)
    n+=1

0
1
2
3
4

In [13]:
for i in range(10,2,-1): #decrement
    print(i)

10
9
8
7
6
5
4
3

In [35]:
def swap_adjacent(s):
    result = []
    for i in range(0,len(s)-1,2):
        result.append(s[i+1]+ s[i])
    
    if len(s)%2!=0:
        result.append(s[-1])
    
    return''.join(result)

In [36]:
''.join(['11','2','3'])

'1123'

In [37]:
print(swap_adjacent("abcdef"))

badcfe

In [46]:
s = 'Tijo'
for i in s:
    print(i)

T
i
j
o

In [49]:
result = []
s = 'Tijo'
for i in range(0,len(s)-1,2):
    result.append(s[i+1]+ s[i])

In [50]:
result

['iT', 'oj']

In [51]:
def is_palindrome_builtins(s):
    # Step 1: Normalize the string (remove non-alphabetic characters and convert to lowercase)
    normalized = ''.join(char.lower() for char in s if char.isalpha())

    # Step 2: Check if the string is equal to its reverse
    return normalized == normalized[::-1]

In [52]:
#arrays
arr = [1,2,3]

In [53]:
#Can be used as a stack
arr.append(3)

In [54]:
arr.pop(3)

3

In [55]:
arr

[1, 2, 3]

In [56]:
arr.insert(2,6)

In [57]:
arr

[1, 2, 6, 3]

In [58]:
arr = [i for i in range(2)]

In [59]:
arr

[0, 1]

In [61]:
lst = ['1','2','4']
lst[2]

'4'

In [62]:
#I have a df with # DATE, INVOICE_ID, CUST_ID, PROD_ID, QTY ,UNIT_PRICE I want to output 
# Output - Year, Product, Top customer ID, Sales
import pandas as pd

# Sample DataFrame
data = {
    'DATE': ['2023-01-15', '2023-02-20', '2023-01-15', '2023-01-15', '2024-03-10'],
    'INVOICE_ID': [101, 102, 101, 103, 104],
    'CUST_ID': [1, 2, 1, 3, 2],
    'PROD_ID': ['A', 'B', 'A', 'C', 'B'],
    'QTY': [10, 5, 15, 20, 10],
    'UNIT_PRICE': [20, 50, 20, 15, 50]
}

df = pd.DataFrame(data)

# Convert DATE column to datetime and extract year
df['DATE'] = pd.to_datetime(df['DATE'])
df['Year'] = df['DATE'].dt.year

# Calculate sales (QTY * UNIT_PRICE)
df['Sales'] = df['QTY'] * df['UNIT_PRICE']

# Group by Year, Product, and Customer to calculate total sales for each customer per product and year
grouped = df.groupby(['Year', 'PROD_ID', 'CUST_ID'], as_index=False)['Sales'].sum()

# Identify the top customer for each Year and Product
top_customers = (
    grouped.loc[grouped.groupby(['Year', 'PROD_ID'])['Sales'].idxmax()]
    .rename(columns={'CUST_ID': 'Top_Customer_ID', 'PROD_ID': 'Product'})
)

# Final output with selected columns
output = top_customers[['Year', 'Product', 'Top_Customer_ID', 'Sales']]

# Display the result
print(output)

   Year Product  Top_Customer_ID  Sales
0  2023       A                1    500
1  2023       B                2    250
2  2023       C                3    300
3  2024       B                2    500

In [64]:
import pandas as pd

# Sample Employee Table
data = {
    'id': [101, 102, 103, 104, 105, 106],
    'name': ['John', 'Dan', 'James', 'Amy', 'Anne', 'Ron'],
    'department': ['A', 'A', 'A', 'A', 'A', 'B'],
    'managerId': [None, 101, 101, 101, 101, 101]
}
employee = pd.DataFrame(data)

# Step 1: Count direct reports for each manager
report_counts = employee.groupby('managerId').size().reset_index(name='report_count')

In [65]:
report_counts

   managerId  report_count
0      101.0             5

In [66]:
# Step 2: Filter managers with at least 5 direct reports
managers_with_5_reports = report_counts[report_counts['report_count'] >= 5]
managers_with_5_reports

   managerId  report_count
0      101.0             5

In [68]:
# Step 3: Map managerId to their names
result = managers_with_5_reports.merge(employee, left_on='managerId', right_on='id')

# Display the result
print(result)

   managerId_x  report_count   id  name department  managerId_y
0        101.0             5  101  John          A          NaN

In [ ]:
num  =  innt(input('Enter a number'))
n1, n2 = 0,1
sum = 0
if num<=0:
    print