In [2]:
#Sets Dictionary and Tuples
#Defining an empty set
#Set
#Set has no duplicate experiments
type({})

dict

In [3]:
type({1})

set

In [4]:
type({1,2,3,4})

set

In [5]:
set_var = set()
print(set_var)

set()

In [7]:
type({1,2,3,4,'Tijo'})

set

In [8]:
print(set([1,2,3,4,5,5]))

{1, 2, 3, 4, 5}

In [10]:
set_var={1,2,2,2}
set_var

{1, 2}

In [12]:
for i in set_var:
    print(i)

1
2

In [19]:
set_var.add(4)

In [20]:
set_var

{1, 2, 3, 4, 5}

In [21]:
set1 = set([1,4,5,5,2,8,3])
print(set1)

{1, 2, 3, 4, 5, 8}

In [22]:
set1.intersection_update(set_var)

In [23]:
set1

{1, 2, 3, 4, 5}

In [24]:
set1.difference_update(set_var)

In [25]:
set1

set()

In [26]:
set1 = {"Avengers","Hindi"}
set2 = {"Avengers","Hindi","MAH"}
set1.issubset(set2)

True

In [27]:
lst1 = set([1,2,4,4,4,9,7])

In [28]:
lst1

{1, 2, 4, 7, 9}

In [29]:
#Dictionaries
type({1:'Krish'})

dict

In [34]:
dict(name='Krish',age='31')

{'name': 'Krish', 'age': '31'}

In [38]:
my_dict={'car1':'Audi','car2':'Mercedes'}
my_dict['car1']

'Audi'

In [39]:
my_dict['car2']

'Mercedes'

In [42]:
my_dict.keys()

dict_keys(['car1', 'car2'])

In [45]:
for i in my_dict.values():
    print(i)

Audi
Mercedes

In [46]:
for i in my_dict:
    print(i)

car1
car2

In [48]:
my_dict['car2']='AMBASSODR'
my_dict

{'car1': 'Audi', 'car2': 'AMBASSODR', 'car3': 'AMBASSODR'}

In [50]:
my_dict['car2']

'AMBASSODR'

In [51]:
#Tuples
my_tuple = (1,2,3,4)
type(my_tuple)

tuple

In [53]:
my_tuple[2]

3

In [54]:
list(my_tuple)

[1, 2, 3, 4]