In [1]:
#List and iTS Inbuilt Functions
str1 = 'Tijo'
type(str1)

str

In [4]:
#Strings are immutable
str1[0]="dhu"

False

In [6]:
#Lists are mutable
lst = [1,2,3,'Y']
lst

[1, 2, 3, 'Y']

In [7]:
def sum_of_list(n):
    total_sum = 0
    for i in n:
        total_sum+=i
    return total_sum
my_list = [1, 2, 3, 4, 5]
result = sum_of_list(my_list)
print(f"The sum of the list is: {result}")

The sum of the list is: 15

In [9]:
lst = [1,2,3,'Y']
lst[0]=2
lst

[2, 2, 3, 'Y']

In [13]:
for i in lst:
    print(i*2)

4
4
6
YY

In [19]:
lst

[2, 2, 3, 'Y']

In [22]:
lst.append(['Y'])

In [23]:
lst

[2, 2, 3, 'Y', ['Y']]

In [26]:
lst[4]

['Y']

In [27]:
lst[::-1]

[['Y'], 'Y', 3, 2, 2]

In [32]:
lst[:1]

[2]

In [34]:
lst.insert(2,3)

In [35]:
lst

[2, 2, 3, 3, 'Y', ['Y']]

In [38]:
#Extend
lst = [1,2,3,4,5,6,7,8]
lst.append([2,3])

In [39]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, [2, 3]]

In [41]:
#Various operations in lust
lst= [1,2,3]
sum(lst)

6

In [43]:

for i in lst:
    print(i/5)

0.2
0.4
0.6

In [44]:
#Popmethod
lst.pop(0)
lst

[2, 3]

In [45]:
len(lst)

2